<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="prefijo" value="crm3" />
    <add key="crm3_CredencialUsuario" value="admincrm2016" />
    <add key="crm3_CredencialContrasena" value="Xn6gy1BV" />
    <add key="crm3_CredencialDominio" value="minvu_nt" />
    <add key="crm3_CRMOrganizationName" value="minvu" />
    <add key="crm3_CRMServidor" value="crm3" />
    <add key="crm3_UsaSSL" value="false" />
    <add key="crm3_TipoAutenticacion" value="" />
    <add key="crm3_TipoLogueo" value="http" />
    <add key="crm3_TipoCRM" value="OnPremise" />
    <add key="crm3_CertificateValidation" value="" />
    <add key="crm3_TimeOut" value="60" />
    <add key="crm3_IFD" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>